#sidepane {
  -fx-background-image: url("background/city1.png");
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-orientation: vertical;
  -fx-alignment: center;
  -fx-vgap: 30px;
}

#mainframe {
  -fx-background-image: url("background/city1.png");
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-orientation: vertical;
  -fx-alignment: center;
}

#playerOnePanal {
  -fx-background-image: url("/figure/Queen.png");
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-orientation: vertical;
  -fx-alignment: center;
}

#playerTwoPanal {
  -fx-background-image: url("/figure/King.png");
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-orientation: vertical;
  -fx-alignment: center;
}

#ticTacToeBoard {
  -fx-background-color: red;
}